<!DOCTYPE html>
<html>

<head>
    <title>Add Violation</title>
</head>

<body>

    <h2>Add Traffic Violation</h2>

    <form method="POST">

        Vehicle Number<br>
        <input type="text" name="vehicle"><br><br>

        Violation Type<br>
        <input type="text" name="violation"><br><br>

        Location<br>
        <input type="text" name="location"><br><br>

        Date<br>
        <input type="date" name="date"><br><br>

        Fine Amount<br>
        <input type="number" name="fine"><br><br>

        <button type="submit">Submit</button>

    </form>

    <br>

    <a href="/">Back</a>

</body>

</html>
